include README.md
include MIGRATION.md
include requirements/*.txt

include src/prisma/py.typed
include src/prisma_cleanup/py.typed
recursive-include src/prisma/generator/templates/ *.py.jinja

# include the backups of templates that replace modules
recursive-include src/prisma/ *.py.original

# include the bridge service
recursive-include src/prisma/bridge/ *.ts *.json *.js *.prisma *.yml *.md
include src/prisma/bridge/Dockerfile
include src/prisma/bridge/tsconfig.json

global-exclude *.pyc
global-exclude node_modules
global-exclude __pycache__
